.map-image {
  max-width: 100%;
  margin-bottom: 20px;
  margin-left: -1px;
  margin-right: 10px;
}

@media (min-width: 700px) {
  .map-image {
    float: right;
    max-width: 450px;
    margin-left: 30px;
    margin-right: 0;
  }
}