header {
  margin: 0 auto 33px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 1000px) {
  header {
    margin-top: 50px;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .header-content .left {
    order: -1;
  }
}