footer {
  margin: 56px auto;
  text-align: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.social-media {
  margin-top: 20px;
}

.social-media-icon {
  padding-left: 8px;
  padding-right: 8px;
}

.social-media-icon img {
  width: 24px;
}

@media (min-width: 900px) {
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-media {
    margin-top: 0;
  }
}