.filters {
  margin-top: 20px;
}

.categories {
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
}

.categories .category,
.categories .spacer {
  display: inline-block;
  color: var(--lightgray, #ddd);
}

.categories .spacer {
  margin-left: 8px;
  margin-right: 8px;
}

.categories .category:hover {
  cursor: pointer;
}

.categories .category.active {
  font-weight: 900;
  color: var(--gray, #3d3d3d);
}

.options {
  display: inline-block;
  list-style-type: none;
  padding-left: 0;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 8px 10px;
  background-color: var(--gray, #3d3d3d);
}

.options .option,
.options .spacer {
  display: inline-block;
  color: rgba(255, 255, 255, 0.8);
}

.options .spacer {
  margin-left: 8px;
  margin-right: 8px;
}

.options .option:hover {
  cursor: pointer;
}

.options .option.active {
  font-weight: 900;
  color: var(--white, #fff);
  border-bottom: 2px solid var(--gray, #3d3d3d);
}