:root {
  --navy: #091b57;
  --lime: #a5fc03;
  --gray: #3d3d3d;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: var(--gray, #3d3d3d);
  font-size: 14px;
}

p {
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 14px;
}

a {
  color: var(--navy, #091b57);
  text-decoration: none;
}

a:hover {
  color: var(--lime, #a5fc03);
}