@import url('https://fonts.googleapis.com/css?family=Overpass:400,800,900&display=swap');

:root {
  --navy: #091b57;
  --lime: #a5fc03;
  --gray: #3d3d3d;
  --lightgray: #ddd;
  --white: #fff;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: var(--gray, #3d3d3d);
  font-size: 14px;
  font-family: Arial, Helvetica;
}

p {
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 14px;
}

a {
  color: var(--navy, #091b57);
  text-decoration: none;
}

a:hover {
  color: var(--lime, #a5fc03);
}

a.with-underline {
  text-decoration: underline;
  font-weight: 700;
}

a.with-underline.regular-weight {
  font-weight: normal;
}

main {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  display: block;
  border: none;
  color: #BBB;
  background-color: #BBB;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
}

form {
  max-width: 600px;
}

form .form-element {
  margin-bottom: 24px;
}

form .form-element label {
  display: block;
}

form .form-element input,
form .form-element textarea {
  padding: 12px;
  margin: 6px 0 4px;
  border: 1px solid #CCC;
  background: #FAFAFA;
  color: #000;
  font-size: 12px;
  line-height: normal;
  border-radius: 2px;
  width: 100%;
}

form .form-element textarea {
  min-height: 100px;
}

form .form-element button[type='submit'] {
  border-radius: 0;
  background-color: transparent;
  color: #091b57;
  border-color: #091b57;
  border-width: 2px;
  border-style: solid;
  padding: 1em 2.5em;
  outline: none;
  cursor: pointer;
  text-align: center;
  transition: 0.1s background-color linear, 0.1s color linear;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

form .form-element button[type='submit']:hover {
  background-color: #091b57;
  color: #FFF;
}