@import url('https://fonts.googleapis.com/css?family=Overpass:400,800,900&display=swap');

:root {
  --navy: #091b57;
  --lime: #a5fc03;
  --gray: #3d3d3d;
  --lightgray: #ddd;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: var(--gray, #3d3d3d);
  font-size: 14px;
  font-family: Arial, Helvetica;
}

p {
  line-height: 1.7;
  margin-top: 0;
  margin-bottom: 14px;
}

a {
  color: var(--navy, #091b57);
  text-decoration: none;
}

a:hover {
  color: var(--lime, #a5fc03);
}

header,
main,
footer {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  margin-top: 84px;
}

footer {
  margin-top: 56px;
  margin-bottom: 56px;
  text-align: center;
}